# Basic libraries
numpy==1.23.5
pandas==1.5.3
scipy==1.11.1

# Plotly for visualizations
plotly==5.15.0

# Streamlit for web app
streamlit==1.2.0

# TensorFlow
tensorboard==2.10.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.10.0
tensorflow-estimator==2.10.0
tensorflow-gpu==2.10.0
tensorflow-io-gcs-filesystem==0.31.0

# Keras 
keras==2.10.0
Keras-Preprocessing==1.1.2

# PyTorch
pytorch
torchvision=
torchaudio
pytorch-cuda

# Sklearn for preprocessing and IsolationForest
scikit-base==0.5.0
scikit-learn==1.2.2
scikit-plot==0.3.7

# Miscellaneous
tqdm==4.65.0
multiprocess==0.70.15
ipython==8.14.0
ipython-genutils==0.2.0
json5==0.9.14
jsonpointer==2.4
jsonschema==4.18.6
jsonschema-specifications==2023.7.1

